* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #86dcb9;

}

header{
    padding: 10px 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: black;
}

.center{
    text-align: center;
}

#navbarTitle{
    font-size: 40px;
}

.title{
    text-decoration: underline;
}

.nav li {
    color: black;
    font-size: 17px;
    display: inline-block;
    padding: 0px 5px;
    list-style: none;
    text-decoration: none;
    margin: 0 17px;
}

li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.logout {
    cursor: pointer;
}

.login {
    background-color: white;
    position: absolute;
    right: 10%;
    top: 40%;
    width: 500px;
    padding: 10px;
    border: 1px solid black;
}

#loginButton {
    padding: 3px;
    margin-left: 5px;
    background-color: #86dcb9;
}

.formInput {
    margin-left: 3px;
    margin-bottom: 2px;
    background-color:#86dcb9;
}

.loginBackground{
    background: url("login-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#loginInput{
    margin-left: 3px;
}

.form{
    width: 500px;
    background-color: white;
    margin: 20px auto;
    border: 1px solid black;
    padding: 30px;
}

#image1, #image2, #image3 {
    margin-bottom: 3px;
}

#addPropertyButton{
    position: relative;
    left: 40%;
    background-color:#86dcb9;
    padding: 5px;
}

#other{
    width: 430px;
    height: 100px;
}
#profileButton{
    display: block;
    margin-top: 5px;
    left: 40%;
    position: relative;
    background-color:#86dcb9;
    padding: 5px;
}

.leftHouseImage{
    position: absolute;
    left:0;
    bottom: 0;
    max-width: 40%;
    height: auto;
    width: auto; 
    z-index:-5;
}

.rightHouseImage{
    position: absolute;
    right:0;
    bottom: 0;
    max-width:40%;
    height: auto;
    width: auto;
    z-index:-5;
}