@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Taviraj', serif;
}

body{
    background-color: #dceee7;

}


.center{
    text-align: center;
}

#navbarTitle{
    font-size: 40px;
}

.title{
    margin-top:-12px;
    margin-bottom: 12px;
    text-decoration: underline;
}



li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.logout {
    cursor: pointer;
}

.login {
    background-color: white;
    margin: 100px auto;
    max-width: 300px;
    padding: 10px;
    border: 1px solid black;
}


.loginButton {
    padding: 10px 10px;
    margin-left: 5px;
    margin-top: 12px;
    margin-bottom: 8px;
    background-color: #86dcb9;
    border-radius: 100px;
    border: none;
    
}

.loginButton:hover{
    background-color:#9fe4c8 ;
}


.formInput {
    margin: auto;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color:#e6f4ef;
    width: 100%;
}   

.loginBackground{
    background: url("login-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#login-input{
    margin-bottom: 5px;
}

.form{
    max-width: 500px;
    background-color: white;
    margin: 20px auto;
    border: 2px solid black;
    padding: 30px;
    font-size: 20px;
}

#image1, #image2, #image3 {
    margin-bottom: 3px;
}

#addPropertyButton{
    position: relative;
    left: 40%;
    padding: 10px 10px;
    margin-left: 5px;
    margin-top: 12px;
    margin-bottom: 3px;
    background-color: #86dcb9;
    border-radius: 100px;
    border: none;
}

.button{
    position: relative;
    left: 36%;
    padding: 10px 10px;
    margin-left: 5px;
    margin-top: 12px;
    margin-bottom: 3px;
    background-color: #86dcb9;
    border-radius: 100px;
    border: none;
}

#other{
    width: 430px;
    height: 100px;
}

#profileButton{
    display: block;
    margin-top: 5px;
    position: relative;
    background-color:#86dcb9;
    padding: 10px 40px;
    margin-top: 12px;
    border-radius: 100px;
    border: none;
}

.leftHouseImage{
    position: absolute;
    left:0;
    bottom: 0;
    max-width: 35%;
    height: auto;
    width: auto; 
    z-index:-5;
}

.rightHouseImage{
    position: absolute;
    right:0;
    bottom: 0;
    max-width: 35%;
    height: auto;
    width: auto;
    z-index:-5;
}

.logo{
    height: 75px;
    margin-left: 20px;
}

.nav-button {
    color: black !important; 
    font-size: 22px;
    display: inline-block;
    padding: 0px 5px;
    list-style: none;
    text-decoration: none;
    margin: 0 17px;
}
.nav-button:hover{
    color: rgb(0, 0, 0) !important;
    text-shadow: 1px 1px rgb(255, 255, 255);
}

.container {
    display: inline-block;
}
.admin-input{
    margin-bottom: 10px;
    width: 90%;
}

.admin-label{
    align-items: left;
}

#admin-title{
    margin-bottom: 25px;
}

#form-confirmation{
    padding: 40px 40px
}

.name-input{
    margin: 15px 15px;
}

#address-input{
    margin-right: 15px;
    margin-left: 8px;
}

form textarea{
    max-width: 300px
}

#navigation-bar{
    padding: 5px 15px;
    background-color: #85deba;
    display: flex;
    justify-content: space-between;
    color: black;
}

#login-title{
    margin-bottom: 18px
}

.item-title{
    font-size: 30px;
    margin-bottom: 12px;
}

#main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 3px solid blue; */
}

.item-container{
    max-width: 470px;
    height: auto;
    margin: 30px;
    color: black;
    background-color: white;
    border: 2px solid black;
}

.item{
    overflow:visible;
    text-align: left;
    font-size: 17px
}

.card-footer{
    border-top: 2px solid #0e4d34;
    background-color: #d9ede5;
}
.card-button{
    margin: 0px 20px;
    padding: 12px 20px;
}

.edit-input{
    margin:5px;
}

#download-button{
    margin-top: 30px;
    padding: 15px 40px;
    border: 2px solid black;
    font-size: 20px;
}
#inventory-page{
    display: block;
    text-align: center;
    /* border: 5px solid black; */
    align-content: center;
}

#empty{
    margin-top: 60px;
    font-size: 50px;
}

#not-found{
    text-align: center;
    font-size: 80px;
}


